.container{
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0,0,0,.6);
    opacity: 0;
    padding: 64px 32px;
    display: flex;
    justify-content: center;
    cursor: pointer;
    z-index: 100;
}

.active {
    display: block;
    opacity: 1;
    animation: fadeIn 150ms;
}

.inactive{
    opacity: 0;
    display: none;
    pointer-events: none;
}

@keyframes fadeIn {
    from {
         opacity: 0;
    }

    to {
         opacity: 1;
    }
}

.content{
    --size: 200px;
    margin: 0 auto;
    width: 100%;
    max-width: 1000px;
    border-radius: var(--border-radius);
    display: grid;
    grid-gap: 8px;
    grid-template-columns: repeat(auto-fill, minmax(var(--size), 1fr));
    grid-template-rows: var(--size);
    cursor: default;
}

.image{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    max-height: var(--size);
    cursor: pointer;
}