.container{
    border-radius: var(--border-radius);
    overflow: hidden;
    background-color: var(--white);
}

.header{
    background-color: var(--black);
    display: grid;
    grid-template-columns: 1fr auto;
}

.actions{
    display: grid;
    grid-auto-flow: column;
    align-items: center;
    grid-gap: 8px;
    padding: 0 12px;
    justify-content: flex-start;
}

.buttons{
    display: grid;
    grid-auto-flow: column;
    justify-content: flex-start;
}

.button{
    color: var(--white);
    padding: 12px 24px;
    display: inline-block;
    border-right: 1px solid var(--gray);
    box-sizing: border-box;
}

.button__active{
    background-color: var(--pimp-purple);
    border-color: var(--pimp-purple);
}

.content{
    padding: 16px;
    border-top: none;
    border-bottom-left-radius: var(--border-radius);
    border-bottom-right-radius: var(--border-radius);
}