.image{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.container{
    position: relative;
    overflow: hidden;
    min-height: 100px;
}

.button{
    top: 8px;
    right: 8px;
    position: absolute;
    width: 28px;
    height: 28px;
    font-size: 14px;
}

.no-content{
    position: relative;
    border: 2px dashed var(--light-gray);
    height: 100%;
    border-radius: 4px;
    display: grid;
    place-items: center;
    cursor: pointer;
}

.active{
    position: relative;
    border: 1px solid var(--subtle);
}

.no-content > p {
    user-select: none;
}