.container {
    background-color: var(--subblack);
    border-bottom: 1px solid var(--smoke);
    padding: 16px 32px;
    display: grid;
    grid-template-columns: 1fr auto;
    justify-items: flex-start;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 10;
}

.container h1 {
    font-size: 22px;
    margin: 0;
    color: var(--text-white);
    font-family: var(--font-regular);
}

.container h1 > strong {
    color: var(--hot-purple);
}