.container {
    position: relative;
    display: grid;
    grid-auto-flow: column;
    align-items: center;
    justify-content: center;
    grid-gap: 8px;
    border: none;
    outline: none;
    font-size: 16px;
    transition: 350ms ease-in-out filter, 150ms ease-in-out background-color;
    padding: 12px 24px;
    cursor: pointer;
}

.container:hover {
    filter: brightness(1.1);
}

.theme--default {
    background-color: var(--gray);
    color: var(--text-white);
}

.theme--transparent {
    background-color: transparent;
    color: var(--text-white);
}

.theme--red {
    background-color: var(--red);
    color: var(--text-white);
}

.theme--green {
    background-color: var(--green);
    color: var(--text-white);
}

.shape--default {
    border-radius: var(--border-radius);
}

.shape--icon {
    padding: 0;
    height: 28px;
    width: 28px;
    font-size: 14px;
    border-radius: var(--border-radius);
}

.shape--small {
    border-radius: 4px;
    padding: 4px 12px;
}

.disabled {
    pointer-events: none;
    cursor: none;
    background-color: rgb(114, 114, 114);
}
