.container {
    padding: 32px 16px;
    display: grid;
    grid-template-columns: 2fr 300px;
    grid-gap: 32px;
}

.dropzone {
    border-radius: var(--border-radius);
    border: dashed 2px gray;
    display: grid;
    place-items: center;
    background-color: var(--white);
    transition: 250ms ease-in-out border-color, 250ms ease-in-out background-color;
}

.isActive {
    background-color: var(--pink);
    border-color: var(--pimp-purple);
}

.preview {
    display: grid;
    grid-gap: 32px;
    grid-template-rows: 1fr auto;
}

.button {
    width: 100%;
}

.thumb {
    position: relative;
    width: 100%;
    padding-top: 100%;
    overflow: hidden;
    background-color: var(--light-gray);
}

.img {
    object-fit: cover;
    object-position: center;
    top: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
}

.image__active{
    transition: 250ms ease-in-out opacity;
    opacity: 1;
}