.container{
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.item {
    display: grid;
    grid-template-columns: 1fr 38px 38px;
    grid-gap: 8px;
}

.item__buttons{
    width: auto;
    height: auto;
}