.container {
    position: relative;
}

.content {
    position: fixed;
    top: 0;
    left: 0;
    width: 250px;
    height: 100%;
    background: var(--metal);
    display: grid;
    grid-template-rows: 75px 1fr;
}

.logo {
    background-color: var(--subblack);
    color: var(--hot-purple);
    border-bottom: 1px solid var(--smoke);
    border-right: 1px solid var(--smoke);
    display: grid;
    align-items: center;
    padding: 0 24px;
    font-size: 28px;
}

.items {
    display: grid;
    grid-auto-rows: min-content;
    grid-auto-flow: row;
    padding: 24px;
    border-right: 1px solid var(--smoke);
    grid-gap: 4px;
}

.label {
    margin: 8px 0;
    color: var(--hot-purple);
    font-weight: 600;
    user-select: none;
}

.item {
    padding: 8px 8px;
    color: var(--text-white);
    border-radius: 4px;
    display: flex;
    align-items: center;
}

.item > svg {
    margin-right: 8px;
    font-size: 1em;
    color: var(--purple);
}

.item:hover{
    background-color: var(--smoke);
}

.item__active {
    background-color: var(--smoke);
}