@font-face {
    font-family: 'Fortescue Pro Display';
    src: url('FortescueProDisplay-Bold.eot');
    src: url('FortescueProDisplay-Regular.eot?#iefix') format('embedded-opentype'),
        url('FortescueProDisplay-Regular.woff2') format('woff2'),
        url('FortescueProDisplay-Regular.woff') format('woff'),
        url('FortescueProDisplay-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Moderat';
    src: url('Moderat-Regular.eot');
    src: url('Moderat-Regular.eot?#iefix') format('embedded-opentype'),
        url('Moderat-Regular.woff2') format('woff2'),
        url('Moderat-Regular.woff') format('woff'),
        url('Moderat-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Moderat';
    src: url('Moderat-Bold.eot');
    src: url('Moderat-Bold.eot?#iefix') format('embedded-opentype'),
        url('Moderat-Bold.woff2') format('woff2'),
        url('Moderat-Bold.woff') format('woff'),
        url('Moderat-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Fortescue Pro Display';
    src: url('FortescueProDisplay-BoldItalic.eot');
    src: url('FortescueProDisplay-BoldItalic.eot?#iefix') format('embedded-opentype'),
        url('FortescueProDisplay-BoldItalic.woff2') format('woff2'),
        url('FortescueProDisplay-BoldItalic.woff') format('woff'),
        url('FortescueProDisplay-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Fortescue Pro Display';
    src: url('FortescueProDisplay-Bold.eot');
    src: url('FortescueProDisplay-Bold.eot?#iefix') format('embedded-opentype'),
        url('FortescueProDisplay-Bold.woff2') format('woff2'),
        url('FortescueProDisplay-Bold.woff') format('woff'),
        url('FortescueProDisplay-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

