.container{
    margin-bottom: 24px;
    display: grid;
    grid-auto-flow: row;
    grid-gap: 8px;
    border: 1px solid var(--coal);
    border-radius: var(--border-radius);
    background-color: var(--cloud);
    padding: 16px;
}

.label{
    font-weight: 600;
}

.header{
    display: grid;
    grid-gap: 8px;
    align-items: center;
    grid-template-columns: 1fr auto auto;
}

.select{
    padding: 0 8px;
    border: 1px solid var(--coal);
    border-radius: var(--border-radius);
    background-color: var(--white);
    height: 100%;
}

.buttons{
    display: grid;
    grid-auto-flow: column;
    grid-gap: 8px;
}

.content {
    display: grid;
}

.input {

}

.textarea{
    min-height: 120px;
}

.image{
    margin-top: 16px;
    position: relative;
}

.image__content{
    display: grid;
    grid-auto-flow: row;
    grid-gap: 16px;
}

.image__button{
    position: absolute;
    top: 12px;
    right: 12px;
}

.image__field{
    width: 100%;
    height: 300px;
    object-fit: cover;
    object-position: center;
}

.content-heading-1{

}

.content-heading-2{

}

.content-paragraph{

}

.content-image,
.content-image-double{
    grid-gap: 16px;
    align-items: center;
}