.container {
    outline: none;
    font-size: inherit;
    border: 1px solid var(--coal);
    border-radius: var(--border-radius);
    padding: 8px 12px;
    display: grid;
    align-items: center;
    background: var(--white);
    color: var(--black);
    resize: none;
}
.container::placeholder {
    color: var(--text-coal);
    pointer-events: none;
}

.container:disabled {
    user-select: none;
}