.container {
    width: 100%;
    height: 100%;
    position: relative;
    display: grid;
    grid-template-columns: 250px 1fr;
    grid-template-rows: 75px auto;
}

.header {
    grid-row: 1 / span 2;
    /* z-index: 1; */
}

.page__heading {
    grid-column: 2 / span 3;
    /* z-index: 1; */
}

.content {
    grid-row: 2 / span 3;
    grid-column: 2 / span 3;
    background-color: var(--pink);
    min-height: calc(100vh - 75px);
    padding: 32px;
    box-sizing: border-box;
    transition: 400ms ease;
    opacity: 0;
    /* z-index: 0; */
}

.content__loaded {
    opacity: 1;
}

.content__loading {
    opacity: 0;
}
