.header{
    display: grid;
    justify-items: center;
    height: calc(80vh - 112px);
}

.header__image{
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 80vh;
    z-index: -1;  
    overflow: hidden;
    background-image: url('/about/header.jpg');
    background-size: cover;
    background-position: 50% 35%;
}

.header__heading{
    font-size: 80px;
    color: var(--white);
    text-transform: lowercase;
    letter-spacing: -0.05em;
}

.main{
    z-index: 1;
    background-color: var(--white);
}

.about{
    position: relative;
}

.about__content{
    margin: 0 auto;
    max-width: 1245px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 64px;
    padding: 96px 8.5%;
}

.about__background{
    top: 0;
    left: 50%;
    height: 100%;
    width: 100vw;
    transform:translate(-50%);
    position: absolute;
    background: var(--pink);
    z-index: -1;
}

.about__heading{
    font-size: 80px;
    text-transform: lowercase;
    letter-spacing: -0.05em;
    margin: 0;
}

.about__paragraph{
    font-size: 24px;
    line-height: 1.5;
    margin-bottom: 48px;
}

.about__section{
    position: relative;
}

.about__image{
    top: calc(37.5px + 50%);
    left: 50%;
    transform:translate(-50%,-50%);
    position: absolute;
    width: 100%;
}

@keyframes rotate360 {
    to { transform: translate(-50%, -50%) rotate(360deg) ; }           
}

.about__triangle {
    animation: rotate360 4s cubic-bezier(0.18, 0.61, 0.88, 0.42) infinite;
    /* animation-play-state: paused;    */
    position: absolute;
    top: 52%;
    left: 48%;
    transform: translate(-50%, -50%) rotate(0deg); 
    transform-origin: 50% 40%;
    width: 61.5%;
    color: #fff;
}

.about__image::after,
.about__image_mobile{
    content: '';
    padding-top: 100%;
    display: block;
}

.about__image_mobile{
    position: relative;
    display: none;
    margin-top: 16px;
}

.story{
    margin: 0 auto;
    max-width: 1245px;
    padding: 96px 8.5% 144px;
    display: grid;
    grid-auto-flow: row;
}

.story__paragraph{
    font-family: 'Fortescue Pro Display';
    font-weight: bold;
    font-size: 60px;
    line-height: 1.4;
    margin: 0 0 64px;
    user-select: none;
}

.story__paragraph i {
    font-style: normal;
    color: var(--pimp-purple);
}

.story__paragraph i:hover{
    color: var(--pimp-purple);
    -webkit-text-fill-color: white;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: var(--purple);
}

.links {
    display: grid;
    grid-auto-flow: column;
    grid-gap: 16px;
    justify-content: flex-start;
}

.link{
    font-size: 24px;
    text-decoration: underline;
}

.link:hover {
    text-decoration: underline var(--pimp-purple);
}

@media screen and (max-width: 968px){
    .header{
        height: calc(85vh - 112px);
    }
    
    .header__image{
        height: 85vh;
    }

    .header__heading{
        margin-top: 96px;
        font-size: 60px;
    }

    .about__content{
        grid-template-columns: 1fr;
        grid-auto-flow: row;
        grid-gap: 32px;
        padding: 48px 24px 64px;
    }

    .about__section {
        display: grid;
        grid-auto-flow: row;
        grid-gap: 32px;
    }

    .about__section:nth-child(2){
        display: none;
    }
    
    .story__paragraph{
        font-size: 44px;
    }

    .story__paragraph br {
        display: none;
    }

    .about__heading{
        font-size: 60px;
    }

    .about__paragraph,
    .link{
        font-size: 20px;
    }

    .about__paragraph,
    .story__paragraph{
        margin-bottom: 0;
    }

    .about__image_mobile{
        display: block;
    }

    .links{
        grid-auto-flow: row;
    }

    .story{
        padding: 48px 24px;
        grid-gap: 48px;
    }

}