.container{
    font-size: inherit;
    gap: 8px;
    display: inline-flex;
}

.container:hover .icon {
    transform:translateX(0px);
}

.icon{
    transform:translateX(-4px);
    transition: 250ms ease-in-out transform;
    display: inline-block;
}