.scene {
    position: absolute;
    top: 0;
    left: 0;
    width: 300px;
    height: 200px;
    border: 1px solid #ccc;
    margin: 80px;
    perspective: 400px;
}
.container {
    width: 300px;
    height: 200px;
    position: relative;
    transform-style: preserve-3d;
    transform: translateZ(-50px);
}

.face {
    position: absolute;
    border: 2px solid black;
    font-size: 40px;
    font-weight: bold;
    color: white;
    text-align: center;
}

.front,
.back {
    width: 300px;
    height: 200px;
    line-height: 200px;
}

.right,
.left {
    width: 100px;
    height: 200px;
    left: 100px;
    line-height: 200px;
}

.top,
.bottom {
    width: 300px;
    height: 100px;
    top: 50px;
    line-height: 100px;
}

.front {
    background: hsla(0, 100%, 50%, 0.7);
}
.right {
    background: hsla(60, 100%, 50%, 0.7);
}
.back {
    background: hsla(120, 100%, 50%, 0.7);
}
.left {
    background: hsla(180, 100%, 50%, 0.7);
}
.top {
    background: hsla(240, 100%, 50%, 0.7);
}
.bottom {
    background: hsla(300, 100%, 50%, 0.7);
}

.front {
    transform: rotateY(0deg) translateZ(50px);
}
.back {
    transform: rotateY(180deg) translateZ(50px);
}

.right {
    transform: rotateY(90deg) translateZ(150px);
}
.left {
    transform: rotateY(-90deg) translateZ(150px);
}

.top {
    transform: rotateX(90deg) translateZ(100px);
}
.bottom {
    transform: rotateX(-90deg) translateZ(100px);
}
