.images{
    --size: 150px;
    display: grid;
    grid-gap: 8px;
    grid-template-columns: repeat(auto-fill, minmax(var(--size), 1fr));
}

.placeholder{
    width: 100%;
    display: grid;
    place-items: center;
}

.images,
.placeholder{
    min-height: 300px;
}

.image {
    position: relative;
    max-height: var(--size);
    overflow: hidden;
    box-sizing: content-box;
    transition: 250ms ease-in-out opacity, 250ms ease-in-out border-color;
    border: 2px solid var(--white);
    -webkit-user-drag: none;
}

.image > img{
    object-fit: cover;
    object-position: center;
    width: 100%;
    height: 100%;
    -webkit-user-drag: none;
    user-select: none;
}

.selected {
    border-color: var(--red);
}

.not__selected{
    opacity: .5;
}