.content{
    display: grid;
    grid-gap: 32px;
    grid-template-columns: 2fr 260px;
    justify-items: center;
}

.highlight{
    color: var(--light-purple);
}

.sidebar {
    width: 100%;
    display: grid;
    grid-auto-flow: row;
    grid-gap: 16px;
    align-content: flex-start;
}

.sidebar__item{
    display: grid;
    grid-auto-flow: row;
    grid-gap: 8px;
    align-content: flex-start;
    border: 1px solid var(--subtle);
    border-radius: var(--border-radius);
    background-color: var(--cloud);
    padding: 16px 0;
}

.sidebar__header{
    display: grid;
    grid-auto-flow: column;
    grid-gap: 8px;
    align-items: center;
}

.sidebar__heading{
    margin: 0;
    font-weight: 600;
}

.featured{
    width: 100%;
}

.featured__container{
    position: relative;
}

.featured__edit{
    top: 8px;
    right: 8px;
    position: absolute;
    width: 28px;
    height: 28px;
    font-size: 14px;
}

.infoContent{
    display: grid;
    grid-auto-flow: row;
    grid-gap: 16px;
}

.input,
.textarea{
    display: grid;
    grid-auto-flow: row;
    grid-gap: 8px;
}

.textarea__field {
    min-height: 150px;
}

.label{
    font-size: 16px;
}

.selector{
    width: 100%;
    max-width: 1000px;
}