.container {
    background-color: #fff;
    display: grid;
    grid-auto-flow: row;
    padding: 56px 8.5% 96px;
    z-index: 10;
}

.title {
    margin: 16px 0;
    font-size: 100px;
    letter-spacing: -0.05em;
    user-select: none;
}

.title__hover:hover {
    color: black;
    -webkit-text-fill-color: white;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: black;
}

.content {
    margin-top: 96px;
    display: grid;
    grid-template-columns: 4fr 3fr 4fr;
    font-size: 20px;
}

.info {
    display: grid;
    grid-auto-flow: row;
    grid-gap: 16px;
    align-content: flex-start;
}

.heading {
    font-weight: bold;
    margin-bottom: 8px;
}

.link {
    justify-self: flex-start;
    text-decoration: underline;
    transition: all 250ms ease-in-out;
}

.link:hover {
    text-decoration: underline var(--pimp-purple);
}

.internal__link {
    justify-self: flex-start;
    text-transform: capitalize;
}

.internal__link:hover {
    text-decoration: underline var(--pimp-purple);
}

@media screen and (max-width: 968px) {
    .content {
        grid-template-columns: 1fr;
        grid-auto-flow: row;
        grid-gap: 32px;
        align-content: flex-start;
    }
}

@media screen and (max-width: 768px) {
    .title {
        font-size: 72px;
    }

    .content{
        margin-top: 48px;
        font-size: 16px;
    }
}

@media screen and (max-width: 600px) {
    .container{
        padding: 32px 24px 72px;
    }

    .title {
        font-size: 44px;
    }
}
