:root{
  --purple: hsl(270, 85%, 30%);
  --pimp-purple: hsl(270, 70%, 50%);
  --hot-purple: hsl(270, 100%, 60%);

  --red: hsl(0, 100%, 63%);
  --green: hsl(124, 63%, 47%);

  --white: hsl(0, 0%, 100%);
  --pink: hsl(270, 100%, 95%);
  --cloud: hsl(0, 0%, 93%);
  --coal: hsl(0, 0%, 84%);
  --gray: hsl(0, 0%, 26%);
  --smoke: hsl(0, 0%, 23%);
  --metal: hsl(270, 0%, 15%);
  --subblack: hsl(270, 0%, 8%);
  --black: #000000;

  --text-white: #fff;
  --text-coal: hsl(0, 0%, 93%);

  --border-radius: 0;

  --font-cursive: 'Fortescue Pro Display';
  --font-regular: 'Moderat';
}

@font-face {
  font-family: 'Fortescue Pro Display';
  src: url('../fonts/FortescueProDisplay-Bold.eot');
  src: url('../fonts/FortescueProDisplay-Regular.eot?#iefix') format('embedded-opentype'),
      url('../fonts/FortescueProDisplay-Regular.woff2') format('woff2'),
      url('../fonts/FortescueProDisplay-Regular.woff') format('woff'),
      url('../fonts/FortescueProDisplay-Regular.ttf') format('truetype');
  font-weight: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Moderat';
  src: url('../fonts/Moderat-Regular.eot');
  src: url('../fonts/Moderat-Regular.eot?#iefix') format('embedded-opentype'),
      url('../fonts/Moderat-Regular.woff2') format('woff2'),
      url('../fonts/Moderat-Regular.woff') format('woff'),
      url('../fonts/Moderat-Regular.ttf') format('truetype');
  font-weight: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Moderat';
  src: url('../fonts/Moderat-Bold.eot');
  src: url('../fonts/Moderat-Bold.eot?#iefix') format('embedded-opentype'),
      url('../fonts/Moderat-Bold.woff2') format('woff2'),
      url('../fonts/Moderat-Bold.woff') format('woff'),
      url('../fonts/Moderat-Bold.ttf') format('truetype');
  font-weight: bold;
  font-display: swap;
}

@font-face {
  font-family: 'Fortescue Pro Display';
  src: url('../fonts/FortescueProDisplay-Bold.eot');
  src: url('../fonts/FortescueProDisplay-Bold.eot?#iefix') format('embedded-opentype'),
      url('../fonts/FortescueProDisplay-Bold.woff2') format('woff2'),
      url('../fonts/FortescueProDisplay-Bold.woff') format('woff'),
      url('../fonts/FortescueProDisplay-Bold.ttf') format('truetype');
  font-weight: bold;
  font-display: swap;
}


html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Moderat', -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    /* overflow: overlay; */
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

#__next{
  overflow: hidden;
}

h1, h2, h3 {
  font-family: 'Fortescue Pro Display';
}

input, textarea {
  resize: none;
  font-family: var(--text-regular);
  line-height: 1;
}

::-webkit-scrollbar {
  width: 7px;
}

::-webkit-scrollbar-thumb {
  background: var(--purple);
  mix-blend-mode: difference;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--purple);
  mix-blend-mode: difference;
}