.container {
  --size: 32px;
  --moveUp: calc(var(--size) / 6.5);
  --moveBottom: calc(var(--size) / -6.5);
  width: var(--size);
  height: var(--size);
  position: relative;
}

.line {
  width: 100%;
  height: 2px;
  background-color: var(--black);
  display: block;
  margin: 8px auto;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.line:first-of-type{
  margin-top: 33%;
}

.open .line:nth-child(1) {
  -webkit-transform: translateY(var(--moveUp)) rotate(45deg);
  -ms-transform: translateY(var(--moveUp)) rotate(45deg);
  -o-transform: translateY(var(--moveUp)) rotate(45deg);
  transform: translateY(var(--moveUp)) rotate(45deg);
}

.open .line:nth-child(2) {
  -webkit-transform: translateY(var(--moveBottom)) rotate(-45deg);
  -ms-transform: translateY(var(--moveBottom)) rotate(-45deg);
  -o-transform: translateY(var(--moveBottom)) rotate(-45deg);
  transform: translateY(var(--moveBottom)) rotate(-45deg);
}
