.container {
  display: grid;
  grid-auto-flow: row;
  max-width: 1600px;
  margin: auto;
}

.intro {
  margin-top: 104px;
  padding: 56px 8.5%;
  z-index: 10;
}

.pre__heading {
  font-size: 20px;
  font-weight: bold;
  user-select: none;
}

.heading {
  margin: 32px 0 16px;
  font-size: 100px;
  letter-spacing: -0.05em;
  user-select: none;
  line-height: 1.1;
}

.about {
  margin-top: 48px;
  position: relative;
  z-index: 10;
  height: 600px;
  padding: 0 8.5%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  user-select: none;
}

.about__background {
  position: absolute;
  width: 102vw;
  height: 100%;
  left: 50%;
  top: 0;
  transform: translate(-50%);
  background-size: cover;
  background-image: url(../public/background.svg);
  background-position: center;
  z-index: -1;
}

.about__image {
  z-index: 1;
  width: 100%;
  height: 600px;
  object-fit: cover;
  object-position: top;
  overflow: hidden;
  user-select: none;
}

.about__content {
  z-index: 1;
  padding: 15% 15% 54px;
  display: grid;
  color: #fff;
  align-content: center;
  font-size: 20px;
}

.about__paragraph {
  line-height: 1.7em;
  user-select: none;
}

.about__button {
  font-weight: bold;
  user-select: none;
}

.ball {
  position: absolute;
  width: 236px;
  background: var(--pink);
  border-radius: 100%;
  z-index: 100;
  animation: float 10s ease-in-out infinite;
  opacity: 0.7;
  pointer-events: none;
}

.ball::after {
  content: "";
  display: block;
  padding-top: 100%;
}

.ball__1 {
  left: -56px;
  top: 130px;
  animation-delay: -1s;
}

.ball__2 {
  top: calc(100% - (236px / 2));
  left: 5%;
}

.ball__3 {
  right: -94px;
  top: -70px;
  animation-delay: -3s;
}

@keyframes float {
  0%,
  100% {
    transform: translate(0, 0);
  }
  50% {
    transform: translate(5px, 30px);
  }
}

@media screen and (max-width: 1200px) {
  .about{
    padding: 0;
  }

  .about__content{
    padding: 15% 48px 56px;
  }
}

@media screen and (max-width: 768px) {
  .intro{
    margin-top: unset;
    margin-bottom: 64px;
  }

  .heading {
    font-size: 72px;
  }

  .ball{
    opacity: .3;
  }

  .about__background{
    display: none;
  }

  .about {
    background-color: var(--purple);
    padding: 0;
    grid-template-columns: 1fr;
    grid-auto-flow: row;
    height: auto;
  }
  
  .about__content{
    padding: 32px 32px 48px;
  }

  .about__image{
    height: 380px;
  }
}

@media screen and (max-width: 768px) {
  .intro {
    padding: 56px 24px;
  }

  .pre__heading{
    font-size: 18px;
  }
}

@media screen and (max-width: 600px) {
  .heading {
    font-size: 40px;
  }

  .about__content{
    padding: 32px 24px 48px;
    font-size: 16px;
  }
}
