.container {
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
    overflow: hidden;
    cursor: pointer;
}

.content {
    position: relative;
    display: grid;
    grid-auto-flow: row;
    grid-gap: 32px;
    align-content: flex-start;
    padding: calc(64px + 12.5%) 64px 12.5%;
}

.title {
    margin: 0;
    font-size: 80px;
    letter-spacing: -0.05em;
    user-select: none;
    justify-self: flex-start;
}

.description {
    margin: 0;
    font-size: 20px;
    line-height: 1.7em;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    user-select: none;
}

.info {
    font-size: 20px;
    line-height: 1.3em;
    font-weight: bold;
    user-select: none;
}

.button {
    font-size: 20px;
}

.counter {
    position: absolute;
    right: 64px;
    bottom: 96px;
    font-size: 40px;
    font-weight: bold;
    display: grid;
    grid-auto-flow: column;
    grid-gap: 8px;
    align-items: center;
    font-family: "Fortescue Pro Display";
}

.counter__line {
    height: 2px;
    width: 100px;
    background: #000;
    margin-bottom: 0.27ch;
    transform-origin: 100% 50%;
}

.image {
    width: 100%;
    top: 0;
    background-size: cover;
    background-position: center;
    z-index: 1;
    overflow: hidden;
    position: relative;
}

.frame {
    position: fixed;
    height: 100vh;
    width: 50%;
    right: 0;
    top: 0;
    z-index: 2;
    pointer-events: none;
}

.frame__image{
    transform: scale(1.01) translate(-1%, 0);
    max-width: 750px;
    min-height: 100vh;
}

.frame__inner {
    width: 100%;
    height: 100%;
    max-width: 750px;
}

.frame__last,
.frame__first {
    position: absolute;
    width: 100%;
    z-index: 2;
}

.frame__inner,
.frame__last,
.frame__first {
    border: 96px solid #fff;
    border-left-width: 64px;
    border-right-width: 64px;
}

.frame__last {
    border-top: none;
}

.frame__first {
    border-bottom: none;
}

@media screen and (max-width: 768px) {
    .content {
        padding: calc(64px + 12.5%) 32px 12.5%;
    }

    .counter {
        right: 32px;
    }

    .frame__inner,
    .frame__last,
    .frame__first {
        border: 64px solid #fff;
        border-left: none;
        border-right: none;
    }

    .frame__last {
        border-top: none;
    }

    .frame__first {
        border-bottom: none;
    }

    .container {
        grid-template-columns: 3fr 2fr;
    }

    .title {
        font-size: 56px;
    }
}

@media screen and (max-width: 600px) {
    .content {
        padding: calc(64px + 12.5%) 24px 12.5%;
    }

    .container {
        grid-template-columns: 7fr 3fr;
    }

    .frame {
        width: 30%;
    }

    .title {
        font-size: 48px;
    }

    .description,
    .info {
        font-size: 16px;
    }

    .frame__last,
    .frame__first {
        width: 100%;
    }
}
