.container {
    display: grid;
    grid-auto-flow: row;
    max-width: 1500px;
    margin: auto;
    padding-top: 72px;
}

.content{
    display: grid;
    grid-auto-flow: row;
    align-content: flex-start;
    min-height: 90vh;
}

@media screen and (max-width: 768px) {
    .container {
        padding-top: 16px;

    }
}
