.container {
    display: grid;
    grid-auto-flow: column;
    justify-content: space-between;
    padding: 8px 32px;
    z-index: 100;
    font-size: 20px;
    color: var(--black);
    transition: color 1s ease-in-out;
}

.logo {
    font-weight: bold;
    z-index: 10;
    transition: 250ms ease-in-out;
}

.logo-open{
    color: var(--white);
}

.hamburger {
    display: none;
    z-index: 10;
}

.hamburger-open{
    color: var(--white);
}

.links {
    z-index: 10;
    display: grid;
    grid-auto-flow: column;
    grid-gap: 16px;
}

.link__active{
    text-decoration: underline;
}

.mobile__menu{
    position: fixed;
    top: 0;
    height: 100%;
    width: 100%;
    right: 0;
    padding: 96px 24px 64px;
    background-color: var(--black);
    color: var(--white);
    mix-blend-mode: multiply;
    display: grid;
    grid-auto-flow: row;
    justify-content: flex-end;
    align-content: flex-start;
    grid-gap: 24px;
    text-align: right;
    transition: 350ms cubic-bezier(0.57, 0.09, 0.36, 0.81) all;
}

.mobile__menu-open{
    transform: translate(0%);
}

.mobile__menu-closed{
    transform: translate(100%);
}

@media screen and (max-width: 768px) {
    .container {
        padding: 16px 24px;
        font-size: 18px;
        align-items: center;
    }

    .links{
        display: none;
    }

    .link {
        font-size: 22px;
    }

    .hamburger{
        display: inline-block;
    }
}
