.content {
}

.background {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%);
    fill: var(--pink);
    z-index: -1;
    width: 100vw;
    min-width: 1920px;
}

.intro {
    padding: 56px 8.5%;
    display: grid;
    grid-auto-flow: row;
    grid-gap: 48px;
    justify-items: center;
}

.title {
    text-align: center;
    font-size: 100px;
    margin: 0;
    letter-spacing: -0.05em;
    user-select: none;
}

.macbook {
    position: relative;
    max-height: 400px;
    width: 100%;
    object-fit: contain;
    object-position: bottom;
    min-height: 400px;
}

.description {
    font-size: 26px;
    line-height: 1.5em;
}

.info {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: flex-start;
    font-size: 20px;
}

.info__column {
    display: grid;
    grid-auto-flow: row;
    grid-gap: 8px;
    align-content: flex-start;
}

.info__heading {
    margin-bottom: 8px;
    font-weight: bold;
}

.images {
    display: grid;
    grid-auto-flow: row;
    grid-gap: 32px;
    padding: 48px 8.5%;
}

.images__double {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 32px;
}

.item-img {
    width: 100%;
}

.item-video {
    width: 100%;
}

.item-p{
    font-size: 26px;
    line-height: 1.5em;
    user-select: none;
}

.footer {
    padding: 48px 8.5%;
    display: grid;
    grid-auto-flow: column;
    justify-content: flex-start;
    grid-gap: 16px;
    align-items: center;
}

.indicator {
    font-size: 40px;
    font-weight: bold;
    display: grid;
    grid-auto-flow: column;
    grid-gap: 8px;
    align-items: center;
    font-family: "Fortescue Pro Display";
    border-right: 2px solid var(--black);
    padding: 0.35ch 16px 0 0;
}

.indicator__line {
    height: 2px;
    width: 100px;
    background: #000;
    margin-bottom: 0.27ch;
}

.link {
    font-size: 20px;
}

@media screen and (max-width: 968px) {
    .macbook{
        min-height: auto;
    }
}

@media screen and (max-width: 768px) {
    .title {
        font-size: 64px;
    }

    .description{
        font-size: 16px;
    }

    .item-p{
        font-size: 16px;
    }

    .background{
        bottom: -10px;
    }

    .intro{
        margin-top: 48px;
        grid-gap: 16px;
    }

    .info{
        grid-gap: 24px;
        grid-auto-flow: row;
        grid-template-columns: 1fr;
        font-size: 16px;
    }

    .info__heading{
        margin: 0;
    }

    .images{
        grid-gap: 16px;
        padding: 16px;
    }

    .images__double{
        grid-template-columns: 1fr;
        grid-auto-flow: row;
        grid-gap: 16px;
    }

    .footer{
        justify-content: center;
        padding: 48px 16px;
    }

    .indicator{
        font-size: 26px;
    }

    .link{
        font-size: 16px;
    }
}

@media screen and (max-width: 600px) {
   .intro{
    padding: 32px 16px;
   }
}
