.content {
    padding: 64px 8.5%;
    width: 100%;
}

.card__container {
    width: 100%;
    align-self: flex-start;
    break-inside: avoid;
    overflow: hidden;
    position: relative;
    display: flex;
    flex-direction: column;
    background: #d6d6d6;
    transition: 150ms ease-in-out background;
    user-select: none;
    cursor: pointer;
}

.card__image__container {
    padding-top: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card__container:hover {
    background: #FFF;
}

.card__image__placeholder{
    background-color: #d6d6d6;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.card__footer {
    border: 1px var(--black) solid;
    width: 100%;
    --margin: 4px;
    order: 2;
    background-color: var(--white);
    z-index: 10;
    /* width: calc(100% - (var(--margin) * 2)); */
    padding: 24px 12px 16px;
    /* margin: var(--margin); */
    display: flex;
    flex-direction: column;
    gap: 8px;
    user-select: none;
}

.card__heading {
    font-family: var(--font-cursive);
    font-weight: bold;
    font-size: 30px;
    margin: 0;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.card__description {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    margin: 0;
}

.card__image {
    width: 100%;
    object-fit: cover;
    object-position: center;
    mix-blend-mode: multiply;
    -webkit-user-drag: none;
}

.masonry {
    margin-top: 56px;
    gap: 24px;
}

.heading {
    font-size: 80px;
    margin: .4em 0 .2em;
    user-select: none;
}

.subheading {
    font-size: 30px;
    line-height: 1.5em;
    user-select: none;
}

.outline {
    color: transparent;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: black;
}

@media screen and (max-width: 1200px) {
    .content {
        padding: 64px;
    }
    .items {
        column-count: 2;
    }
    .card__container {
        max-height: 55vh;
    }
    .subheading br {
        display: none;
    }
}

@media screen and (max-width: 768px) {
    .heading {
        font-size: 64px;
    }
    .subheading {
        font-size: 24px;
    }
    .content {
        padding: 48px 32px;
    }
    .items {
        column-count: 1;
    }
}